<!--layout:/default.html-->
<section class="mx-5">
    <div class="max-w-5xl mx-auto">
        <article class="prose lg:prose-xl mx-auto my-10">
            <img src="<!--$image-->" alt="<!--$title-->" class="rounded-lg mb-10"/>
            <h1 class="text-3xl mb-10 font-bold"><!--$title--></h1>
            <div class="articles-content mb-10"><!--($content)--></div>
            
            <a href="<!--$back_url-->" class="inline-block bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700">Back to Articles list</a>
        </article>
    </div>
</section>